/* h1{
    background-color: black;
    color: brown;
    text-align: center;
} */

/* img{ */
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    /* border-left: 2px solid red;
    border-right: 2px double purple;
    border-bottom: 4px dotted yellow;
    border-top: 4px dotted green; */

/* } */


/* .myinfo{
    color: red;
    background-color: black;
} */

/* p{ */
    /* color: green;
    background-color: bisque;
    font-size: 30px; */
    /* font-weight: 1000;
    this is comment
    */
    /* font-style: italic; */

    /* font-family: 'Courier New', Courier, monospace; */

    /* line-height: 100px;
    word-spacing: 40px;
    letter-spacing: 30px; */
    /* text-decoration: underline; */
/* } */

/* li{
    list-style: decimal;
} */


/* li:nth-child(3n-2){
    color: red;
}    */



/*
hex = 16 say sistemine esaslanir # yazaraq baslayiriq min3 max8 reqem ifade edile biler
0123456789abcdef
*/

/*
rgb = red green blue min 0 max 255
rgba
hsl
hsla
hwb 
*/

h1{
    color: hwb(216 10% 61% / 0.2);
}

