@import url('reset.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

a{
  text-decoration: none;
}
li{
  list-style: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: black;
  clip-path: circle(50% at 49% 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
header h1{
  color: aquamarine;
}
header nav {
  width: 50%;
}
header nav ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav button{
  display: none;
}

header nav ul li a{
  color: #fff;
  font-size: 30px;
  font-family: sans-serif;
}

/* max-width 0dan verilen deyere qeder */
/* min-width sonsuzluqdan verilen deyere qeder */






.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper .con{
  width: 80%;
  display: flex;
  gap: 20px;
}


.wrapper .con .card{
  width: 30%;
  border: 2px solid #000;
  border-radius: 10px;
}

.wrapper .con .card img{
  width: 100%;
}


@media (max-width:700px){
  header {
    background: linear-gradient(90deg, rgba(80,175,0,1) 25%, rgba(58,0,175,1) 52%, rgba(255,0,176,1) 100%);

  }
  header nav ul{
    display: none;
  }
  header nav button{
    display: block;
  }
  .wrapper .con{
    flex-wrap: wrap;
  }
  .wrapper .con .card{
    width: 100%;
  }
}




/* .wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}



.con{
  width: 400px;
  height: 400px;
  border: 5px solid red;
  overflow: scroll;
}

.con .bg-img{
  transition: .5s;
  width: 400px;
  height: 400px;
  background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699574400&semt=ais');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.con:hover .bg-img{
  transform:scale(2);
}




.text{
  width: 40%;
  height: 20vh;
  border: 2px solid #000;
  overflow: scroll;
} */






















/* .box{
  position: relative;
  width: 100px;
  height: 100px;
  left: -100px;
  top: -100px;
  background-color: red;
  animation-name: hadi-lets-go;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes hadi-lets-go {
 0%{
  left: 0;
  top: 0;
  
 }
 13%{
  left: 200px;
  transform: rotate(360deg);
  top: 0;
 }
 25%{
  left: 200px;
  top: 200px;
 }
 38%{
  left: 400px;
  top: 200px;
 }
 50%{
  transform: scale(2);
  left: 400px;
  top: 400px;
 }
 63%{
  left: 0px;
  top: 400px;
 }
 75%{
  left: 0px;
  top: 0px;
 }
 87%{
  left: 0;
  top: 0;
}
100%{
  background-color: aquamarine;
  left: -100px;
  top: -100px;
 }
} */


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */