@import url('reset.css');

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .box{ */
  /* width: 100px;
  height: 100px;
  background-color: red; */
  /* transform: scale(2); */
  /* transform: skewY(190deg); */
  /* transform: translateX(200px); */
  /* transform: translateY(200px); */
  /* transform: translate(200px,300px); */
  /* transform: rotate(20deg); */
  /* matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */
  /* transform: matrix(1, -0.3, 0, 1, 100, 200); */
  /* transition-property: background-color,transform; */
  /* transition-duration:2s ; */
  /* transition-delay:2s ; */
  /* transition-timing-function:ease ; */
/* transition: background-color 1s, transform 10s; */
  
/* } */


/* .box:hover{
  background-color: green;
  transform: scale(2);
} */